*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-jimboyz.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(26, 25, 25);
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 5px 0;
    max-width: 500px;
    background-color: rgba(4, 5, 5, 0.5);
    padding: 10px 10px;
    border-radius: .80rem;
    border: 2px solid rgb(30, 255, 0);
    box-shadow: 0 0 10px rgb(13, 255, 25);
    z-index: 100;
}

.container a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    color: #eee;
}

.container a:visited {
    color: #eee;
}

.container a:hover {
    color: rgb(118, 118, 248);
}

label {
    font-size: 1.1em;
    color: #eee;
}

input {
    width: 100%;
    background-color: rgba(4, 5, 5, 0.5);
    color: rgb(4, 255, 29);
    border-radius: 3px;
    border: 1px solid rgb(30, 255, 0);
    box-shadow: 0 0 10px rgb(13, 255, 25);
    outline: none;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    margin: 7px 0;
    padding: 5px;
}

input[type="submit"] {
    transition: .5s ease-in-out;
    border-radius: .5rem;
    cursor: pointer;
    color: #eee;
}

input[type="submit"]:hover {
    background-color: rgb(4, 255, 29);
    font-weight: bold;
}

input[type="file"] {
    font-size: 1em;
}

textarea {
    width: 100%;
    resize: vertical;
    height: 225px;
    margin-top: .7rem;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    outline: none;
    color: rgb(4, 255, 29);
    border: 1px solid rgb(30, 255, 0);
    box-shadow: 0 0 10px rgb(13, 255, 25);
    background-color: rgba(4, 5, 5, 0.5);
}

@media only screen and (max-width:600px) {

    .container {
        background-image: url('../images/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        background-blend-mode: darken;
    }
}